.heading-1{
      font-family: var(--font-heading);
      font-size: clamp(3rem, 6vw, 6rem);
      margin-bottom: 2rem;
      color: white;
      text-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    }

    .heading-2{
      font-family: var(--font-heading);
      font-size: clamp(1.4rem, 4vw, 2rem);
      text-transform: uppercase;
      margin-bottom: .9rem;
      text-align: center;
    }

  
